body {
     background-color: hsl(220, 15%, 55%);
}
div {
    background-color:hsl(0, 0%, 100%) ;
    text-align: center;
    border-radius: 14px;
    width: 300px;
    height: 435px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

 img {
    width:275px;
    height:250px;
    border-radius: 7px;
    margin-top: 10px;
    }

h3 {
    font-size: 18px;
    font-family: 'Outfit';
    font-weight: 700;
}

p {
    font-size: 15px;
    font-family: 'Outfit';
    font-weight: 400;
}